.button--show-answer {
  background-color: green;
  color: #f3edc8;
  border-radius: 5px;
  margin: 10px 0;
  padding: 5px;
  box-shadow: 5px 5px grey;
}

.button--hide-answer {
  background-color: #7d0a0a;
  color: #ead196;
  border-radius: 5px;
  margin: 10px 0;
  padding: 5px;
  box-shadow: 5px 5px grey;
}

.button--submit {
  background-color: green;
  color: #f3edc8;
  border-radius: 5px;
  margin: 10px 0;
  padding: 5px;
  box-shadow: 5px 5px grey;
}
