footer {
  position: absolute;
  position: sticky;
  bottom: 0;
  width: 100%;
}

nav {
  position: relative;
  z-index: 2;
  background-color: #ead196;
}

footer nav {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  border: solid 2px black;
  position: absolute;
  bottom: 0;
  padding: 2px 2px;
}
